@model LoginVM
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form>
    <div class="form-floating">
        <input class="form-control" placeholder=""/>
        <label>First Name</label>
    </div>
</form>

