@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav" id="nav-icons">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item me-4">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Manager">
            <i class="fa-regular fa-user fs-4"></i>
        </a>
    </li>
    <li class="nav-item me-4">
        <a class="nav-link text-dark" asp-controller="Bag" asp-action="Index">
            <i class="fa-solid fa-bag-shopping fs-4"></i>
        </a>
    </li>
    <li class="nav-item me-0">
        <form class="form-inline" asp-action="Logout" asp-controller="Account">
            <button type="submit" class="nav-link btn btn-link text-dark pe-0">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item me-4">
        <a class="nav-link text-dark" asp-controller="Account" asp-action="Login">
            <i class="fa-regular fa-user fs-4"></i>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark pe-0" asp-controller="Account" asp-action="Login">
            <i class="fa-solid fa-bag-shopping fs-4"></i>
        </a>
    </li>
}
</ul>
