@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron-container" id="jumbotron">
    <div class="jumbotron-background"></div>
    <div class="jumbotron-overlay"></div>
    <div class="jumbotron-text">
        <h1 class="lobster-regular">5 Star Sports Cards</h1>
        <a asp-action="Search" asp-controller="Card" class="btn btn-secondary mt-3 w-100">Shop Now!</a>
    </div>
</div>

<div class="container mt-3">
    <div class="text-center border-bottom">
        <h4 class="display-6 pb-3">Call or Text me at <a class="text-decoration-none text-dark" href="tel:1234567890">123-456-7890</a>
            or email me at email@email.com
        </h4>
    </div>
    <div class="mt-3">
        <h3 class="text-center display-5 mb-3">Categories</h3>
        <div class="row justify-content-start">
            <div class="col-md-4 col-sm-6 mt-3">
                <div class="card w-100">
                    <a class="img-link" asp-controller="Card" asp-action="Index" asp-route-id="Baseball">
                        <img src="~/images/baseball-cards.jpg" class="card-img-top" alt="baseball cards">
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mt-3">
                <div class="card w-100">
                    <a class="img-link" asp-controller="Card" asp-action="Index" asp-route-id="Football">
                        <img src="~/images/baseball-cards.jpg" class="card-img-top" alt="baseball cards">
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mt-3">
                <div class="card w-100">
                    <a class="img-link" asp-controller="Card" asp-action="Index" asp-route-id="Hockey">
                        <img src="~/images/baseball-cards.jpg" class="card-img-top" alt="baseball cards">
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mt-3">
                <div class="card w-100">
                    <a class="img-link" asp-controller="Card" asp-action="Index" asp-route-id="Golf">
                        <img src="~/images/baseball-cards.jpg" class="card-img-top" alt="baseball cards">
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mt-3">
                <div class="card w-100">
                    <a class="img-link" asp-controller="Card" asp-action="Index" asp-route-id="Wrestling">
                        <img src="~/images/baseball-cards.jpg" class="card-img-top" alt="baseball cards">
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mt-3">
                <div class="card w-100">
                    <a class="img-link" asp-controller="Card" asp-action="Index" asp-route-id="Racing">
                        <img src="~/images/baseball-cards.jpg" class="card-img-top" alt="baseball cards">
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mt-3">
                <div class="card w-100">
                    <a class="img-link" asp-controller="Card" asp-action="Index" asp-route-id="Boxing">
                        <img src="~/images/baseball-cards.jpg" class="card-img-top" alt="baseball cards">
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mt-3">
                <div class="card w-100">
                    <a class="img-link" asp-controller="Card" asp-action="Index" asp-route-id="MMA">
                        <img src="~/images/baseball-cards.jpg" class="card-img-top" alt="baseball cards">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
