@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron-container" id="jumbotron">
    <div class="jumbotron-background"></div>
    <div class="jumbotron-overlay"></div>
    <div class="jumbotron-text">
        <h1 class="lobster-regular">5 Star Sports Cards</h1>
        <a asp-action="Search" asp-controller="Card" class="btn btn-secondary mt-3 w-100">Shop Now!</a>
    </div>
</div>

<div class="container mt-3">
    <div class="text-center border-bottom">
        <h4 class="display-6 pb-3">Call or Text me at <a class="contact-tag" href="tel:1234567890">123-456-7890</a>
            or email me at <a class="contact-tag" href="mailto:email@email.com">email@email.com</a>
        </h4>
    </div>
</div>
