@model TradingCardDetailsVM
@{
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="d-flex justify-content-center">
                <img src="~/images/@Model.Card.ImageName" width="50%" />
            </div>
            
        </div>
        <div class="col-md-6 mt-3">
            <h3>@Model.Card.Player</h3>
            <p class="text-secondary">@Model.Card.Description</p>
            <div class="mt-auto">
                <button class="w-100 text-center btn btn-dark mb-3">
                    Add to Bag <i class="fa-solid fa-bag-shopping ms-2"></i>
                </button>
                <button class="btn btn-stripe w-100 d-flex justify-content-center">
                        Checkout now with <i class="fa-brands fa-stripe"></i>
                </button>
            </div>
        </div>
    </div>
    
</div>
