@model CardCategoryVM
@{
    ViewBag.Title = $"{Model.Category} Cards";
}

<div class="container">
    <div class="text-center">
        <h2 class="display-3 ">@Model.Category</h2>
    </div>

    <div class="row justify-content-between">
        @foreach(Card card in Model.Cards)
        {
            <div class="col-md-4 col-sm-6">
                <div>
                    <div>
                        @card.Player
                    </div>
                </div>
            </div>
        }
        
    </div>
</div>
