@{
    var current = ViewContext.RouteData.Values["area"]?.ToString() ??
        ViewContext.RouteData.Values["controller"]!.ToString() ?? "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Five Star Sports Cards</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/navbar.css" />
    <link rel="stylesheet" href="~/css/jumbotron.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CardShop.styles.css" asp-append-version="true" />
    <script async src="https://kit.fontawesome.com/58b7281dd9.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-toggleable-md navbar-light bg-white border-bottom flex-column pb-0" id="navbar">
            <div class="container-fluid border-bottom bg-light" id="upper-nav">
                <div class="container py-3 d-flex justify-content-between">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Five Star Sports Cards</a>
                    <partial name="_LoginPartial" />
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
            <div class="container-fluid border-bottom bg-light" id="middle-nav">
                <div class="container">
                    <div class="navbar-collapse collapse d-md-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1 py-1 justify-content-around align-items-center" id="links">
                            <li class="nav-item @Nav.Active("Home", current)" id="home-link">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Baseball Cards</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Basketball Cards</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Football Cards</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Autographed Cards</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid" id="bottom-nav">
                <div class="container py-1">
                    <div class="row justify-content-between">
                        <div class="col-md-4">
                            <div class="dropdown">
                                <button id="categories" class="btn btn-dark dropdown-toggle w-100" type="button" data-bs-toggle="dropdown">
                                    <i class="fa-solid fa-layer-group me-2"></i>
                                    Categories
                                </button>
                                <ul class="dropdown-menu w-50" id="nav-dropdown">
                                    <li><a class="dropdown-item" href="#">Baseball</a></li>
                                    <li><a class="dropdown-item" href="#">Football</a></li>
                                    <li><a class="dropdown-item" href="#">Hockey</a></li>
                                    <li><a class="dropdown-item" href="#">Golf</a></li>
                                    <li><a class="dropdown-item" href="#">Wrestling</a></li>
                                    <li><a class="dropdown-item" href="#">Racing</a></li>
                                    <li><a class="dropdown-item" href="#">Boxing</a></li>
                                    <li><a class="dropdown-item" href="#">MMA</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search Products...">
                                <button class="btn btn-dark" type="button" id="button-addon2">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mt-3">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/js/navbarTransition.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
