@{
    ViewBag.Title = "Home";
}

<h2>ADMIN AREA HOME</h2>

<ul class="list-group">
    <li class="list-group-item">
        <a class="fs-4 text-decoration-none text-dark" asp-area="Admin" asp-controller="User" asp-action="Index">Manage Users</a>
    </li>
    <li class="list-group-item">
        <a class="fs-4 text-decoration-none text-dark" asp-area="Admin" asp-controller="Product" asp-action="Index">Manage Products</a>
    </li>
    <li class="list-group-item">
        <a class="fs-4 text-decoration-none text-dark" asp-area="Admin" asp-controller="Product" asp-action="Add">Add Product</a>
    </li>
    <li class="list-group-item">
        <a class="fs-4 text-decoration-none text-dark" asp-area="Admin" asp-controller="Team" asp-action="Index">Manage Teams</a>
    </li>
    <li class="list-group-item">
        <a class="fs-4 text-decoration-none text-dark" asp-area="Admin" asp-controller="Sports" asp-action="Index">Manage Sports</a>
    </li>
    <li class="list-group-item">
        <a class="fs-4 text-decoration-none text-dark" asp-area="Admin" asp-controller="Qualities" asp-action="Index">Manage Qualities</a>
    </li>
    <li class="list-group-item">
        <a class="fs-4 text-decoration-none text-dark" asp-area="Admin" asp-controller="CardTypes" asp-action="Index">Manage Card Types</a>
    </li>
    <li class="list-group-item">
        <a class="fs-4 text-decoration-none text-dark" asp-area="Admin" asp-controller="Manufacturer" asp-action="Index">Manage Manufacturers</a>
    </li>
</ul>
