.nav-item>.nav-link.text-dark {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}
.nav-item >form> .nav-link.text-dark {
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.mobile-nav-link {
    display: block;
}

#fixed-middle-nav {
    display: none;
}

a.dropdown-item {
    text-transform: uppercase;
    font-weight: 600;
    color: #000 !important;
}

#nav-icons {
    display: flex;
    flex-direction: row;
    display: none;
}

@media only screen and (max-width: 767px) {
    #nav-icons {
        justify-content: space-around
    }
    #home-link {
        display: block !important;
    }
    .fixed-top-nav {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000; /* Adjust as needed */
    }
    #categories {
        margin-bottom: .5em;
    }
    #middle-nav.border-bottom {
        border-bottom: none !important;
    }
}
@media only screen and (max-width: 991px) {
    #home-link {
        display: none
    }
}
@media only screen and (min-width: 768px) {

    #fixed-middle-nav {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        display: block;
    }

    .invisible {
        display: none !important;
    }

    #links > .nav-item > .nav-link {
        text-decoration: none;
        position: relative;
    }
        #links>.nav-item>.nav-link::after {
            content: ''; /* Required for pseudo-elements */
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px; /* Thickness of the line */
            background-color: black; /* Color of the line */
            transform: scaleX(0); /* Initially invisible */
            transition: transform 0.3s ease; /* Smooth transition effect */
        }

        #links>.nav-item>.nav-link:hover::after {
            transform: scaleX(1); /* Expand the line to full width on hover */
        }

    #links>.nav-item>.nav-link.active::after {
        transform: scaleX(1); /* Expand the line to full width on active state */
        background-color: black; /* Color of the line */
    }
    .navbar {
        padding-top: 0px !important;
    }
    #nav-icons {
        display: flex;
    }
    .mobile-nav-link {
        display: none;
    }
}
