html {
  font-size: 14px;
}

@font-face {
    font-family: 'barbecue_personal_useregular';
    src: url('barbecue_personal_use-webfont.woff2') format('woff2'), url('barbecue_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: barbecue_personal_useregular;
    font-size: 60px;
}

.field-validation-error {
    color: #dc3545;
}

.validation-summary-errors > ul {
   padding-left: 0px;
}
.validation-summary-errors > ul >li {
    list-style: none;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-primary {
    background-color: #00ac5b;
    border-color: #00ac5b;
}
    .btn-primary:hover {
        background-color: #00df76;
        border-color: #00df76;
    }

.btn-secondary {
    background-color: #276459;
    border-color: #276459;
}
.jumbotron-text>.btn-secondary {
    font-size: 21px;
    text-transform: uppercase;
    letter-spacing: 3px;

}
    .btn-secondary:hover {
        background-color: #2e8575;
        border-color: #2e8575;
    }

#nav-dropdown > li > .dropdown-item:focus {
    background-color: #212529;
    color: #fff !important;
    border: none;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.card-img-top {
    border-radius: 8px !important;
}

.card {
    border: none !important;
}

.card-img-top {
    transition: transform 0.3s ease; /* Smooth transition on transform */
}

.img-link:hover .card-img-top {
    transform: scale(1.05); /* Zoom effect on hover */
}