@{
    ViewBag.Title = "Access denied";
}

<div class="text-center">
    <h4 class="display-4">Seems like your lost.</h4>
    <a asp-action="Index" asp-controller="Home" class="fs-5">Click me to go back home</a>
</div>
