@model IEnumerable<Purchase>
@{
}

<div class="container">
    @if (Model.Count() < 1)
    {
        <h3 class="text-center mt-3">No Purchases...</h3>
    }
    else
    {
        <h2 class="display-3 text-center">Past Purchases</h2>
        foreach(Purchase purchase in Model)
        {
            <div>
                @purchase.CardBought.Player
                @purchase.Total.ToString("C")
            </div>
        }
    }
</div>


